.page-search {
    .notFound {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .msg {
            font-size: 20px;
        }
    }

    .entrys {
        display: flex;
        align-items: center;
        margin-top: 20px;
        flex-wrap: wrap;
        width: 100%;
        gap: 33px;

        .entry {
            transition: scale 0.2s ease-in-out;
            border-radius: 5px;
            cursor: pointer;

            .content {
                margin-top: 10px;
                .title {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 200px;
                }

                .tags {
                    color: rgba(#fcfdfd, 0.5);
                    font-weight: 400;
                }
            }

            &:hover {
                scale: 1.02;
            }
        }
    }
}
